  <div class="sidebar-logo sidebar-nav">
    <a class="nav-link" href="{{@blog.url}}">
      <div class="logo-name">
        Zenan Liu
      </div>
      <div class="logo-title">
        Interaction Designer
      </div>
    </a>
  </div>
  <div class="sidebar-section sidebar-content">About</div>
  <p class="sidebar-content">
    I’m an interaction designer currently living in Singapore.
  </p>
  <div class="sidebar-content">
    <a class="btn btn-default" href="#">My Résumé</a>
  </div>
  <div class="sidebar-section sidebar-content">Projects</div>
  <ul class="sidebar-nav nav">
    <li class="nav-item"><a class="nav-link" href="#">Project #1</a></li>
    <li class="nav-item"><a class="nav-link" href="#">Project #2</a></li>
    <li class="nav-item"><a class="nav-link" href="#">Project #3</a></li>
    <li class="nav-item"><a class="nav-link" href="#">Project #4</a></li>
    <li class="nav-item"><a class="nav-link" href="#">Project #5</a></li>
  </ul>
  <div class="sidebar-section sidebar-content">Contact</div>
  <ul class="sidebar-nav nav">
    <li class="nav-item"><a class="nav-link" href="#">Dribbble</a></li>
    <li class="nav-item"><a class="nav-link" href="#">Twitter</a></li>
    <li class="nav-item"><a class="nav-link" href="#">LinkedIn</a></li>
    <li class="nav-item"><a class="nav-link" href="#">Email me</a></li>
  </ul>
  <div class="sidebar-content">
    <small class="footer">© Copyright 2011–2015 Zenan Liu.</small>
  </div>
