{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

{{> tagnav}}
<div class="main-section main-section--narrow post-list">
  {{> loop}}
</div>
